@import url('https://fonts.googleapis.com/css2?family=Abel&family=Chakra+Petch:wght@500&family=Kanit:wght@200&family=Manrope&family=Roboto:wght@300&family=Syncopate:wght@700&family=Tilt+Neon&family=Unbounded:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:#60a5fa;
    font-family:'Tilt Neon', sans-serif;
}


header {
    height:80px;
    display:flex;
    align-items:center;
    background-color:#1e3a8a;
    color:white;

}

header h1 {
    margin-left:30px;
}

main {
    text-align:center;
}


input {
    width:99%;
    display:block;
    margin: 20px auto;
    height:40px;
    font-size:18px;
    padding-left:5px;
    border-radius:8px;
    border: 1px solid #38bdf8;
    background-color:#cffafe;
    
    
}

.book-info {
    width:20%;
    margin:40px auto;
    box-shadow: 2px 2px 2px 2px #3b82f6;
    border-radius:7px;
    border:solid 1px #3b82f6;
    padding:15px;
    position:relative;
}

.close {
    position:absolute;
    top:5px;
    left:91%;
}


.hidden {
    display:none;
}

.library {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width:70%;
    height:700px;
    margin: 30px auto;
    gap:20px;
    padding:10px;
}

.add-book {

    margin-top:40px;
    border: 1px solid #38bdf8;
    background-color:#93c5fd;
    color:#525252;
    font-size:18px;
    width: 110px;
    height:40px;
    border-radius:8px;
    font-weight:bold;

}

.add-book:hover {
    background-color:#1e40af;
    color:#dbeafe;
    transition: 0.5s;
}

.card {
    display:flex;
    flex-direction:column;
    border:1px solid #38bdf8;
    border-radius:8px;
    align-items:center;
    justify-content:space-around;
    background-color:#6b21a8;
    color:#bae6fd;
    font-size:25px;
    font-weight:bold;
    box-shadow: 2px 2px 2px 2px #3b82f6;
    
}

.read {
    background-color:green;
}

.add-to-library {
    width:170px;
    height:40px;
    border: 1px solid #38bdf8;
    background-color:#93c5fd;
    color:#525252;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;

}

.add-to-library:hover {
    background-color:#1e40af;
    color:#dbeafe;
    transition: 0.5s;
}

#read {
    width:70%;
    height:40px;
    border-radius:8px;
    border:1px solid #38bdf8;
    font-size:18px;
    font-weight:bold;
    color:#525252;
}

#remove {
    width:70%;
    height:40px;
    border-radius:8px;
    border:1px solid #38bdf8;
    font-size:18px;
    font-weight:bold;
    color:#525252;
}

#read:hover, #remove:hover {
    background-color:#c084fc;
    transition:0.5s;
    
}